/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.students {
  border-collapse: collapse;
}

.students tr:nth-child(1) {
  background: #4e4e4e;
  color: white;
}

.students tr:nth-child(even) {
  background: #a9a9a9;
}

.students th, .students td {
  border: solid 1px black;  
}

.plan {
  border-collapse: collapse;
}

.plan th, .plan td {
  border: solid 1px black;  
}

.tiles {
  border-collapse: collapse;
  border: solid 1px black;
}

.tiles td {
  width: 50px;
  height: 50px;
}
 

.tiles tr:nth-child(odd) td:nth-child(even),
.tiles tr:nth-child(even) td:nth-child(odd) {
  background: black;
}